{% extends 'base.html' %}
{% block title %}Home page{% endblock title %}
{% block body %}
{% if user.is_authenticated %}
<div class="container my-4">
    <h3>Add your note here!</h1>
    <form action="/" method="POST" class="my-3" onsubmit="return validation()">
            {% csrf_token %} 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" >Enter the title</label>
          <textarea type="textarea" class="form-control" id="titletxt" name="title" rows="2" ></textarea>
         
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Enter the body</label>
            <textarea type="textarea" class="form-control" id="bodytxt" name="body" rows="10" ></textarea>
        </div>
        
        <button id="submitbtn" type="submit" class="btn btn-primary">Submit</button>
        
      </form>
</div>
{% else %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Make your personal note here.</p>
    <hr class="my-4">
    <p>Please login or sign up.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="login_page" role="button">Login</a>
    </p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="signup_page" role="button">Signup</a>
    </p>
  </div>
</div>
{% endif %}
{% endblock body %}
{% block javascript %}
<script>
  function validation() {
    let title = document.getElementById('titletxt').value;
    let body = document.getElementById("bodytxt").value;
    console.log("The title of note is "+title);
    console.log("The body of the note is "+body);
    if(title == "" || title == " ") {
      alert("Title must be entered");
      return false;
    }
    if(body == "" || body == " ") {
      alert("Body must be entered");
      return false;
    }

  }
</script>
{% endblock javascript %}
