{% extends 'base.html' %}
{% block title %}Home page{% endblock title %}
{% block body %}
{% if user.is_authenticated %}
<div class="container my-4">
    <h3>Add your note here!</h1>
    <form action="/" method="POST" class="my-3">
            {% csrf_token %} 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" >Enter the title</label>
          <textarea type="textarea" class="form-control" id="exampleInputEmail1" name="title" rows="2" ></textarea>
         
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Enter the body</label>
            <textarea type="textarea" class="form-control" id="exampleInputEmail1" name="body" rows="10" ></textarea>
        </div>
        
        <button id="submitbtn" type="submit" class="btn btn-primary">Submit</button>
        
      </form>
</div>
{% else %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Make your personal note here.</p>
    <hr class="my-4">
    <p>Please login or sign up.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="login_page" role="button">Login</a>
    </p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="signup_page" role="button">Signup</a>
    </p>
  </div>
</div>
{% endif %}
{% endblock body %}
